body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.div__numberCircle{
  border: 2px solid black;
  border-radius: 100%;  
  display: block;
  padding: 10px;
  text-align: center;
}

.div__numberCircle--selected{
  display: block;
  padding: 10px;
  text-align: center;
}

.ul__board>li {
  width: 9%;
  float: left;
  height: 75px;
  background: #fff;
  display:box;
  box-pack:center;
  box-align:center;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;
  border: 3px solid $brand-primary;
  margin: 2px;
}

.ul__board>li>span {
      font-size: 30px;
      color: $brand-primary;
      font-weight: bold;
      display: block;
  }
